{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1>Movie Title</h1>
    </div>

    <hr>

    <form method="POST" action="choosetheater">
        <h3>Saved Theater:
            <select name="Choose">
                <option value="AMC">AMC</option>
                <option value="Carmike">Carmike</option>
            </select>
            <input type="submit" value="Choose"> 
        </h3>
    </form>

    <form method="POST" action="choosetheater">
        <h3>City/State/Theater:
            <div class="field-wrap">
                <input type="textarea" name="Search"/>
                <input type="submit" value="Search"> 
            </div>
        </h3>
    </form>

    <h3>
        <button><a href="{{ url_for('movie') }}">Back</a></button>
    </h3>

</div> <!-- /form -->
{% endblock %}
