{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1> {{movie}} </h1>
    </div>

    <hr>

    <form method="POST" action="/selecttime">
        <input type="hidden" name="movie" value="{{movie}}"/>
        <input type="hidden" name="usern" value="{{usern}}"/>
        <h3>Saved Theater:
            <select name="theater">
                <option value="AMC">AMC</option>
                <option value="Carmike">Carmike</option>
            </select>
            <input type="submit" value="Choose"> 
        </h3>
    </form>

    <form method="POST" action="/theaterresults">
        <input type="hidden" name="movie" value="{{movie}}"/>
        <input type="hidden" name="usern" value="{{usern}}"/>
        <h3>City/State/Theater:
            <div class="field-wrap">
                <input type="textarea" name="Search"/>
                <input type="submit" value="Search"> 
            </div>
        </h3>
    </form>

    <h3>
        <form action="nowplaying" method="post">
            <button name="usern" value="{{usern}}">Back</button>
        </form>
    </h3>

</div> <!-- /form -->
{% endblock %}
