{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1> {{movie}} </h1>
    </div>

    <hr>

    <div class="form">
        <form action="/procreview" method="post">
            <input type="hidden" name="movie" value="{{movie}}"/>
            <input type="hidden" name="usern" value="{{usern}}"/>
            <h3>Rating:
                <select name="rating">
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
            </h3>

            
          <div class="field-wrap">
            <label>
              Title<span class="req">*</span>
            </label>
            <input type="textarea" name="rtitle" autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Comment<span class="req">*</span>
            </label>
            <input type="textarea" name="comment" autocomplete="off"/>
          </div>
          
          <button type="submit" class="button button-block"/>Submit</button>
          
          </form>

        </div>

    <h3>
        <form action="review" method="post">
            <input type="hidden" name="movie" value="{{movie}}"/>
            <button name="usern" value="{{usern}}">Back</button>
        </form>
    </h3>

</div> <!-- /form -->
{% endblock %}
