{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1>Me</h1>
    </div>

    <hr>

    <h2>
        <form action="orderhistory" method="post">
            <button name="user" value="{{user}}">My Order History</button>
        </form>
    </h2>
    <h2>
        <form action="preferredpayment" method="post">
            <button name="user" value="{{user}}">My Payment Information</button>
        </form>
    </h2>
    <h2>
        <form action="preferredtheater" method="post">
            <button name="user" value="{{user}}">My Preferred Theater</button>
        </form>
    </h2>

    <h3>
        <button><a href="{{ url_for('nowplaying') }}">Back</a></button>
    </h3>

</div> <!-- /form -->
{% endblock %}
