{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1>Me</h1>
    </div>

    <hr>

    <h2>
        <form action="orderhistory" method="post">
            <button name="usern" value="{{usern}}">My Order History</button>
        </form>
    </h2>
    <h2>
        <form action="preferredpayment" method="post">
            <button name="usern" value="{{usern}}">My Payment Information</button>
        </form>
    </h2>
    <h2>
        <form action="preferredtheater" method="post">
            <button name="usern" value="{{usern}}">My Preferred Theater</button>
        </form>
    </h2>

    <h3>
        <form action="nowplaying" method="post">
            <button name="usern" value="{{usern}}">Back</button>
        </form>
    </h3>

</div> <!-- /form -->
{% endblock %}
