{% extends "base.html" %}
{% block body %}

<a href="{{ url_for('me') }}">
    <img src="{{ url_for('static', filename='me.png') }}" height="60px">
</a>

<div class="form">

    <div class="top-row">
        <h1>Now Playing</h1>
    </div>

    <hr>
    
    <table>
        <tbody>
            <tr>
                <td><a href="{{ url_for('movie') }}">Movie A</a></td>
            </tr>
            <tr>
                <td>Movie B</td>
            </tr>
            <tr>
                <td>Movie C</td>
            </tr>
            <tr>
                <td>Movie D</td>
            </tr>
        </tbody>
    </table>

</div> <!-- /form -->
{% endblock %}
