{% extends "base.html" %}
{% block body %}

<a href="{{ url_for('me') }}">
    <img src="{{ url_for('static', filename='me.png') }}" height="60px">
</a>

<div class="form">

    <div class="top-row">
        <h1>Now Playing</h1>
    </div>

    <hr>
    
    <form method="POST" action="movie">
        <table>
            <tbody>
                {% for i in movies %}
                <tr>
                    <td><input type="radio" name="movie" value="{{i}}">{{i}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Select Movie"> 
    </form>

</div> <!-- /form -->
{% endblock %}
