{% extends "base.html" %}
{% block body %}

<div class="form">

    <div class="top-row">
        <h1>Order History</h1>
    </div>

    <hr>

    <form method="POST" action="/orderhistory">
        <input type="hidden" name="usern" value="{{usern}}"/>
        <h3>Order ID:
            <div class="field-wrap">
                <input type="textarea" name="Search"/>
                <input type="submit" value="Search"> 
            </div>
        </h3>
    </form>
    
    <form method="POST" action="/orderdetail">
        <input type="hidden" name="usern" value="{{usern}}"/>
        <table>
            <tbody>
                {% if orders|length < 1 %}
                None of your Order IDs matched your search.
                {% else %}
                {% for i in orders %}
                <tr>
                    <td><input type="radio" name="order" value="{{i.orderID}}">
                        Order ID:{{i.orderID}}, Movie:{{i.movie}}, Status:{{i.status}}, Cost:{{i.cost}}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <input type="submit" value="View Detail"> 
    </form>

    <form action="me" method="post">
        <button name="usern" value="{{usern}}">Back</button>
    </form>

</div> <!-- /form -->
{% endblock %}
