{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1>Order Detail</h1>
        <h2>{{movie}}</h2>
    </div>

    <hr>
    
    <h3>Order</h3>
    <p>Movie Title: {{order.Movie}}</p>
    <p>MPAA Rating: {{order.MPAARating}}</p>
    <p>Length: {{order.length}}</p>
    <p>Showtime: {{order.showtime}}</p>
    <p>Theater: {{order.Theater}}</p>
    <p>Address: {{order.Address}}</p>
    <p>Cost: {{order.cost}}</p>

    <p>Order ID: {{orderID}}</p>
    <h3>
        <form action="cancelorder" method="post">
            <input type="hidden" name="orderID" value="{{orderID}}"/>                                        
            <input type="hidden" name="usern" value="{{usern}}"/>                                        
            <button name="cancel" value="{{movie}}">Cancel Order</button>
        </form>
    </h3>
    <h3>
        <form action="orderhistory" method="post">
            <button name="usern" value="{{usern}}">Back</button>
        </form>
    </h3>

</div> <!-- /form -->
{% endblock %}
