{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1>{{movie}}</h1>
    </div>

    <hr>
    
    <h3>Synopsis</h3>
    <p>{{data.syn}}</p>

    <h3>Cast</h3>
    <table>
        <tbody>
            <tr>
                <td>
                    <h3>Actor</h3>
                </td> 
                <td>
                    <h3>Role</h3>
                </td> 
            </tr>
            <tr>
                <td>
                    {{data.cast.actor1}}
                </td> 
                <td>
                    {{data.cast.role1}}
                </td> 
            </tr>
            <tr>
                <td>
                    {{data.cast.actor2}}
                </td> 
                <td>
                    {{data.cast.role2}}
                </td> 
            </tr>
            <tr>
                <td>
                    {{data.cast.actor3}}
                </td> 
                <td>
                    {{data.cast.role3}}
                </td> 
            </tr>
            <tr>
                <td>
                    {{data.cast.actor4}}
                </td> 
                <td>
                    {{data.cast.role4}}
                </td> 
            </tr>
            <tr>
                <td>
                    {{data.cast.actor5}}
                </td> 
                <td>
                    {{data.cast.role5}}
                </td> 
            </tr>
        </tbody>
    </table>

    <h3>
        <form action="movie" method="post">
            <button name="movie" value="{{movie}}">Back</button>
        </form>
    </h3>

</div> <!-- /form -->
{% endblock %}
