{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1> {{movie}} </h1>
        <h3>{{theater}} @ {{time}}</h3>
    </div>

    <hr>

    <h2>Payment Info:</h2>

    <form method="POST" action="order">
        <h3>Use a saved card
            <select name="savedcard">
                <option value="AMex">AMex</option>
                <option value="Visa">Visa</option>
            </select>
            <input type="submit" value="Choose"> 
        </h3>
    </form>

    <h2>Use a new card:</h2>
    <form method="POST" action="/order">
        <h3>Name on Card:
            <div class="field-wrap">
                <input type="textarea" name="name"/>
            </div>
        </h3>
        <h3>Card Number:
            <div class="field-wrap">
                <input type="textarea" name="num"/>
            </div>
        </h3>
        <h3>CVV:
            <div class="field-wrap">
                <input type="textarea" name="cvv"/>
            </div>
        </h3>
        <h3>Expiration Date:
            <div class="field-wrap">
                <input type="textarea" name="expdate"/>
            </div>
        </h3>

        <input type="checkbox" name="saveCard" value="check">Save Card<br>

        <input type="submit" value="Submit"> 
    </form>

</div> <!-- /form -->
{% endblock %}
