{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1>My Preferred Theaters</h1>
    </div>

    <hr>
    
    <form method="POST" action="/preferredtheater">
        <input type="hidden" name="usern" value="{{usern}}"/>
        <input type="radio" name="theater" value="A" checked>Theater A<br>
        <input type="radio" name="theater" value="B">Theater B<br>
        <input type="radio" name="theater" value="C">Theater C<br>
        <input type="radio" name="theater" value="D">Theater D<br>

        <input type="submit" value="Delete">
    </form>

    <form action="me" method="post">
        <button name="usern" value="{{usern}}">Back</button>
    </form>

</div> <!-- /form -->
{% endblock %}
