{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1>My Preferred Theaters</h1>
    </div>

    <hr>

    <form method="POST" action="/preferredtheater">
        <input type="hidden" name="usern" value="{{usern}}"/>
        <table>
            <tbody>
                {% for i in theaters %}
                <tr>
                    <td><input type="radio" name="theater" value="{{i.theaterID}}">
                        Name: {{i.Name}}, Address: {{i.Address}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Delete">
    </form>

    <form action="me" method="post">
        <button name="usern" value="{{usern}}">Back</button>
    </form>

</div> <!-- /form -->
{% endblock %}
