{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1>Revenue Report</h1>
    </div>

    <hr>

        <table>
            <tbody>
                <tr>
                    <td>Month</td>
                    <td>Revenue</td>
                </tr>
                {% for r in report %}
                <tr>
                    <td>{{r.Month}}</td>
                    <td>{{r.Stacks}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    <h3>
        <form action="choosefunctionality" method="post">
            <button name="usern" value="{{usern}}">Back</button>
        </form>
    </h3>

</div> <!-- /form -->
{% endblock %}
