{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1> {{movie}} </h1>
        <p>Avg. Rating: {{avg}}/5</p>
    </div>

    <hr>

    {% if hasSeen %}
    <form action="givereview" method="post">
        <input type="hidden" name="usern" value="{{usern}}"/>
        <button name="movie" value="{{movie}}">Give Review</button>
    </form>
    <hr>
    {% endif %}

    
    <table>
        <tbody>
            {% for r in reviews %}
            <tr>
                <td> Title: {{r.revs}}, Rating: {{r.ratings}} </td>
                <td> Comment: {{r.comments}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <h3>
        <form action="nowplaying" method="post">
            <button name="usern" value="{{usern}}">Back</button>
        </form>
    </h3>

</div> <!-- /form -->
{% endblock %}
