{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1> {{movie}} </h1>
        <p>Avg. Rating: {{avg}}/5</p>
    </div>

    <hr>

    <form action="givereview" method="post">
        <button name="movie" value="{{movie}}">Give Review</button>
    </form>

    <hr>
    
    <table>
        <tbody>
            {% for r in reviews %}
            <tr>
                <td> {{r}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <h3>
        <button><a href="{{ url_for('movie') }}">Back</a></button>
    </h3>

</div> <!-- /form -->
{% endblock %}
