{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1>Select Time</h1>
        <h1>Theater: {{theater}}</h1>
    </div>

    <hr>
    
    <table>
        <tbody>
            <tr>
                <td><a href="{{ url_for('movie') }}">Movie A</a></td>
            </tr>
            <tr>
                <td>Movie B</td>
            </tr>
            <tr>
                <td>Movie C</td>
            </tr>
            <tr>
                <td>Movie D</td>
            </tr>
        </tbody>
    </table>

</div> <!-- /form -->
{% endblock %}
