{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1>Select Time</h1>
        <h1>Theater: {{theater}}</h1>
    </div>

    <hr>
    
    <form method="POST" action="/selecttime/{{theater}}">
        <table>
            <tbody>
                    {% for time in times %}
                    <tr>
                        <td>
                            <input type="radio" name="showtime" value="{{time}}">{{time}}<br> 
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    <input type="submit" value="Next"> 
    </form>

</div> <!-- /form -->
{% endblock %}
