{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1>Results</h1>
    </div>

    <hr>
    
    <form method="POST" action="/selecttime">
        <input type="hidden" name="movie" value="{{movie}}"/> 
        <input type="radio" name="theater" value="A" checked>Theater A<br>
        <input type="radio" name="theater" value="B">Theater B<br>
        <input type="radio" name="theater" value="C">Theater C<br>
        <input type="radio" name="theater" value="D">Theater D<br>

        <input type="checkbox" name="saveTheater" value="check">Save Theater<br>
        <input type="submit" value="Next">
    </form>

</div> <!-- /form -->
{% endblock %}
