{% extends "base.html" %}
{% block body %}
<div class="form">

    <div class="top-row">
        <h1>Results</h1>
    </div>

    <hr>
    
    <form method="POST" action="/selecttime">
        <input type="hidden" name="movie" value="{{movie}}"/> 
        <input type="hidden" name="usern" value="{{usern}}"/>
        {% for i in results %}
        <input type="radio" name="theater" value="{{i.id}}">{{i.name}}<br>
        {% endfor %}

        <input type="checkbox" name="saveTheater" value="check">Save Theater<br>
        <input type="submit" value="Next">
    </form>

</div> <!-- /form -->
{% endblock %}
